<h1>New Application</h1>
<%= form_with url: "/applications/new", method: :post, local: true do |f| %>
  <%= f.label :name %>
  <%= f.text_field :name %>
  <br/>
  <br/>
  <%= f.label :address %>
  <%= f.text_field :address %>
  <br/>
  <br/>
  <%= f.label :home_description %>
  <%= f.text_field :home_description %>
  <br/>
  <br/>
  <%= f.label :status %>
  <%= f.text_field :status %>
  <br/>
  <br/>
  <%= f.submit %>
<% end %>